<!-- #NULP change: Diksha Footer Commented-->
<!-- <div class="download-diksha">
  <div class="diksha-logo p-15">
    <div class="mobile-circles">
      <div class="big-box border-round border-r50"></div>
      <div class="oval-box border-round ml-20 ml-10"></div>
      <div class="small-box border-round border-r50 ml-20 mr-10"></div>
      <div class="small-box border-round border-r50"></div>
    </div>
    <label class="d-block pb-10">{{resourceService.frmelmnts?.lbl?.download}} {{resourceService.frmelmnts?.lnk?.footerNULPForMobile}}</label>
    <a class="d-block pb-10 app-download" href="https://play.google.com/store/apps/details?id=in.gov.diksha.app">
      <img class="playStore-img" src="/assets/images/google_playstore.png" alt="{{resourceService.frmelmnts?.lnk?.footerNULPForMobile}}">
    </a>
    <p class="d-block">{{resourceService.frmelmnts?.lbl?.getUnlimitedAccess}}</p>
  </div>
</div> -->

<footer class="footer" *ngIf="showFooter">
  <div class="computer only">
    <div class="ui grid stackable" style="background-color: #0089cf;">
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/aboutus.html">About</a></li>
        </ul>
      </div>
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/maintenance">Leadership</a></li>
        </ul>
      </div>
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/explore-course">Catalog</a></li>
        </ul>
      </div>
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="https://www.nuis.in/">NUIS</a></li>
        </ul>
      </div>
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/smartgov.html">CCSG</a></li>
        </ul>
      </div>
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/iudx.html">IUDX</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile only">
    <div class="ui grid stackable" style="background-color: #0089cf;">
      <div class="two wide column" style="text-align: center;padding: 0.4rem 1rem!important;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="javascript:">About</a></li>
        </ul>
      </div>
      <div class="two wide column" style="text-align: center;padding: 0.4rem 1rem!important;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/maintenance">Leadership</a></li>
        </ul>
      </div>
      <div class="two wide column" style="text-align: center;padding: 0.4rem 1rem!important;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/explore-course">Catalog</a></li>
        </ul>
      </div>
      <div class="two wide column" style="text-align: center;padding: 0.4rem 1rem!important;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="https://www.nuis.in/">NUIS</a></li>
        </ul>
      </div>
      <!-- <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/smartgov.html">CCSG</a></li>
        </ul>
      </div>
      <div class="two wide column" style="padding-top:3px;padding-bottom:18px;text-align: center;">
        <ul class="test-link" style="text-align: center;margin: 0;padding: 0;">
          <li style="padding-bottom: 0px;margin-bottom: 0px;"><a href="/iudx.html">IUDX</a></li>
        </ul>
      </div> -->
    </div>
  </div>
  
  <!--  <div class="four wide column center aligned playStore">
          <label class="d-block mb-10">{{resourceService.frmelmnts?.lnk?.footerNULPForMobile}}</label>
          <a class="d-block" href="https://play.google.com/store/apps/details?id=in.gov.diksha.app">
            <img class="playStore-img" src="/assets/images/google_playstore.png" alt="{{resourceService.frmelmnts?.lnk?.footerNULPForMobile}}">
          </a> 
  
        
        </div>-->
  <!-- <div class="four wide column contantDetails">
        <label class="d-block mb-10">
          {{resourceService.frmelmnts?.lnk?.footerContact}} 
        </label>
        <a class="d-block mb-30" href="mailto:nulp@niua.org">
          nulp@niua.org
        </a>
        <label class="d-block">
          <a href="javascript:">
            {{resourceService.frmelmnts?.lnk?.footerTnC}}
          </a>
          <span>| &copy; {{date | date:'yyyy'}}, NULP</span>
        </label>
      </div> -->
      <div class="computer only">
        <div style="background-color: #ffffff;">
          <div class="ui grid stackable">
            <div class="two wide column" style="text-align: center;padding-top: 10px;padding-bottom: 5px;">
              <a href="http://smartcities.gov.in/content/" target="_blank">
                <img src="assets/images/smrt.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding-top: 10px;padding-bottom: 5px;">
              <a href="http://amrut.gov.in/" target="_blank">
                <img src="assets/images/amrut.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding-top: 10px;padding-bottom: 5px;">
              <a href="https://www.hridayindia.in/" target="_blank">
                <img src="assets/images/hri.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding-top: 10px;padding-bottom: 5px;">
              <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm" target="_blank">
                <img src="assets/images/bhrt.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding-top: 10px;padding-bottom: 5px;">
              <a href="https://pmaymis.gov.in/" target="_blank">
                <img src="assets/images/m.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding-top: 10px;padding-bottom: 5px;">
              <a href="https://nulm.gov.in/" target="_blank">
                <img src="assets/images/day.png" width="90px" height="auto" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile only">
        <div style="background-color: #ffffff;">
          <div class="ui grid stackable">
            <div class="two wide column" style="text-align: center;padding: 0rem 1rem!important;">
              <a href="http://smartcities.gov.in/content/" target="_blank">
                <img src="assets/images/smrt.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding: 0rem 1rem!important;">
              <a href="http://amrut.gov.in/" target="_blank">
                <img src="assets/images/amrut.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding: 0rem 1rem!important;">
              <a href="https://www.hridayindia.in/" target="_blank">
                <img src="assets/images/hri.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding: 0rem 1rem!important;">
              <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm" target="_blank">
                <img src="assets/images/bhrt.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding: 0rem 1rem!important;">
              <a href="https://pmaymis.gov.in/" target="_blank">
                <img src="assets/images/m.png" width="90px" height="auto" alt="" />
              </a>
            </div>
            <div class="two wide column" style="text-align: center;padding: 0rem 1rem!important;">
              <a href="https://nulm.gov.in/" target="_blank">
                <img src="assets/images/day.png" width="90px" height="auto" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
</footer>