<div class="ui container" [appTelemetryImpression]="telemetryImpression">
    <div class="ui stackable grid mt-30">
        <div class="twelve wide column workspacesegment">
            <sui-tabset>
                <div class="ui top attached tabular menu">
                    <!-- ---code start  here------------ -->
                  
                    <a class="item" suiTabHeader="yourLearnings" *ngIf="urlPathValue=='learningreport'">Your Learnings</a>
                

                    <a class="item" suiTabHeader="userreport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='userreport'">User Report</a>

                    <a class="item" suiTabHeader="useronboardingreport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='userreport'">User Onboarding Report</a>

                        <a class="item" suiTabHeader="orgreport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='orgreport'">Organization Onboarding Report</a>

                        <a class="item" suiTabHeader="contributionReport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='orgreport'">Contribution Report</a>

                        

                       

                            <a class="item" suiTabHeader="contentreport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='contentreport'">Content Report </a>

                            <a class="item" suiTabHeader="categoryReport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='orgreport'">Category Report</a>

                            <a class="item" suiTabHeader="leadershipReport" appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='orgreport'">Leadership  Report</a>
                    <!-- //----code end here------------- -->
                    <a class="item" suiTabHeader="contentcreation"  appPermission [permission]='adminDashboard' *ngIf="urlPathValue=='contentreport'">Content
                        Creation</a>
                    <a class="item"  suiTabHeader="citywisecontentcreation" appPermission
                        [permission]='adminDashboard' *ngIf="urlPathValue=='contentreport'">City Wise Content Creation</a>

                    <a class="item"  suiTabHeader="departmentwisecontentcreation" appPermission
                        [permission]='adminDashboard' *ngIf="urlPathValue=='contentreport'">Department Wise Content Creation</a>

                    <a class="item"  suiTabHeader="contenttypewisecontentcreation" appPermission
                        [permission]='adminDashboard' *ngIf="urlPathValue=='contentreport'">Content Type Wise Content Creation</a>

                        
                </div>
                <div class="ui bottom attached segment" suiTabContent="yourLearnings">
                    <div class="twelve wide column" *ngIf="showTrainingstats && enrolledCourseData.length > 0">
                        <p-chart type="doughnut" [data]="donutChartData" height="250px"></p-chart>
                    </div>
                    <br>
                    <div class="twelve wide column" *ngIf="showTrainingstats && enrolledCourseData.length > 0">
                        <p-table #dt [value]="enrolledCourseData" [columns]="cols" [paginator]="true" [rows]="10"
                            [resizableColumns]="true">
                            <ng-template pTemplate="caption">
                                <div class="ui small left icon input" style="float: left">
                                    <i class="search icon"></i>
                                    <input type="text" pInputText placeholder="Search"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </div>
                                <div class="ui-helper-clearfix">
                                    <button type="button" pButton icon="fa fa-file" iconPos="left" label="Export"
                                        (click)="dt.exportCSV()" style="float:right"></button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pResizableColumn>
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns;let i=index" class="ui-resizable-column"
                                        [ngClass]="{'align-center':i>2}">
                                        {{rowData[col.field]}}
                                        <img *ngIf="col.header === 'Certificate' && rowData.statusName == 'Completed'"
                                            src="{{'assets/images/certificate-badge.png' | cdnprefixurl}}"
                                            style="height: 20px;cursor: pointer;"
                                            (click)="downloadCertificate(rowData.downloadUrl)">
                                        <img *ngIf="col.header === 'Certificate' && rowData.statusName != 'Completed'"
                                            src="{{'assets/images/certificate-badge-grey.png' | cdnprefixurl}}"
                                            style="height: 20px;cursor: not-allowed;">
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="ui grid" *ngIf="!showTrainingstats">
                        <div class="one wide column"></div>
                        <div class="ten wide column">
                            <div class="ui two column centered grid no-result-container">
                                <div class="column">
                                    <img src="{{'assets/images/erroricon.png' | cdnprefixurl}}">
                                    <div class="no-result-text">{{resourceService?.messages?.stmsg?.m0131}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="one wide column"></div>
                    </div>
                </div>
                  <!-- //---change code start  here------ -->
                
                  <div class="ui bottom attached segment" suiTabContent="userreport">
                    <app-reports></app-reports>
                 </div>
                 <div class="ui bottom attached segment" suiTabContent="useronboardingreport">
                     <app-user-report></app-user-report>
                  </div>
 
                 <div class="ui bottom attached segment" suiTabContent="orgreport">
                   <app-organization-report></app-organization-report>
                 </div>
                 <div class="ui bottom attached segment" suiTabContent="contentreport">
                
                     <!--<app-content-report></app-content-report>-->
                 </div>

                 <div class="ui bottom attached segment" suiTabContent="contributionReport">
                
                    <app-content-report></app-content-report>
                 </div>


                 <div class="ui bottom attached segment" suiTabContent="leadershipReport">
                
                    <app-content-leaderboard></app-content-leaderboard>
                 </div>


                 <div class="ui bottom attached segment" suiTabContent="categoryReport">
                
                    <app-content-category-wise></app-content-category-wise>
                 </div>

                 
 
                 <!-- //----end here-------------------- -->
                <div class="ui bottom attached segment" suiTabContent="contentcreation">
                    <app-content-creation-statics></app-content-creation-statics>
                </div>
                <div class="ui bottom attached segment" suiTabContent="citywisecontentcreation">
                    <app-city-wise-report></app-city-wise-report>
                </div>
                <div class="ui bottom attached segment" suiTabContent="departmentwisecontentcreation">
                    <app-dept-city-wise-report></app-dept-city-wise-report>
                </div>
                <div class="ui bottom attached segment" suiTabContent="contenttypewisecontentcreation">
                    <app-content-dept-wise-report></app-content-dept-wise-report>
                </div>
            </sui-tabset>
        </div>
    </div>
    <!-- <div *ngIf="noResult">
        <app-no-result [data]="noResultMessage"></app-no-result>
    </div> -->
</div>