<div class="ui container" [appTelemetryImpression]="telemetryImpression">
  <div class="ui stackable grid mt-30">
      <div class="twelve wide column workspacesegment">

              <div class="ui bottom attached segment">
                  <div class="ui container">
                    <div class="ui stackable grid mt-30">

                    <div class="column"  style="width:50%">
                      <label>Select Organization</label> &nbsp;&nbsp;
                      <p-dropdown [options]="cityList" [(ngModel)]="selectedCity"
                          placeholder="Select a Organization"
                          optionLabel="orgName" [ngModelOptions]="{standalone: true}"
                          (onChange)="getContentData()"></p-dropdown> <br/>
                        <canvas id="L1_Canvas"   #mychart (click)="L1_Chart_showData($event)">{{ L1_Piechart }}</canvas>


                      </div>



                  </div>
                  </div>


              <div class="ui container"  *ngIf = 'Table_Data_List.length > 0'>

                <p-table #dt [value]="Table_Data_List" [columns]="colsUser" [paginator]="true" [rows]="10" [resizableColumns]="true">
                  <ng-template pTemplate="caption">
                    <tr>
                    <td>
                    <div  class="ui small left icon input align-left">
                      <b>{{popupTitle}}</b>
                    </div>
                    </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>

                      <th *ngFor="let col of columns" pResizableColumn [style.width]="col.width">
                          {{col.header}}
                      </th>
                    </tr>
                  </ng-template>



                  <ng-template pTemplate="body" let-Table_Data_List let-columns="columns" >
                    <tr>
                      <td *ngFor="let col of columns ;" class="ui-resizable-column">
                          {{Table_Data_List[col.field]}}
                      </td>
                  </tr>
                  </ng-template>
                </p-table>

            </div>
</div>
</div>
</div>
</div>


