<div class="sb-prominent-filter" *ngIf="showFilters && refresh">
  <div class="ui container">

    <!--Header-->
    <h5 class="sb-prominent-filter-header">
      {{resourceService.frmelmnts?.lbl?.explorecontentfrom}}
      <i class="mobile only large angle down icon link right-floated" 
        [ngStyle]="{'transform': collapse === true ? 'rotate(0deg)' : 'rotate(180deg)'}"
        (click)="collapse = !collapse"
        title="{{collapse==true?'Expand':'Collapse'}}" 
        popupInverted>
      </i>
    </h5>
    <!--/Header-->
    
    <!--Filter-->
    <div class="ui active sb-prominent-filter-container" [suiCollapse]="collapse" *ngIf="formFieldProperties">

      <div class="sb-prominent-filter-field" *ngFor="let field of formFieldProperties">
        <label>{{field.label}}</label>
        <ng-container *ngIf="field.inputType==='select' || field.inputType==='multi-select'">
          <app-custom-multi-select [inputData]="formInputData[field.code]" [field]="field" (selectedValue)="selectedValue($event, field.code);setFilterInteractData()"></app-custom-multi-select>
        </ng-container>
        <ng-container *ngIf="field.code==='topic'">
          <app-topic-picker [selectedTopics]="formInputData[field.code]" [formTopic]="field" (topicChange)="handleTopicChange($event);setFilterInteractData()"></app-topic-picker>
        </ng-container>
      </div>
      <div class="sb-prominent-filter-field">
        <ng-container *ngIf="isShowContentTypeFilter">
          <div class="field">
            <label class="mb-10">{{resourceService?.frmelmnts?.lbl?.resourcetype}}</label>
            <sui-select [(ngModel)]="selectedContentType"
              style="border:1px solid #e1e1e1;border-radius:5px;padding: 8px 0 8px 13px;width: 100%"
              [options]="allContentTypes" labelField="name" valueField="id" name="contentType"
              placeholder="{{resourceService?.frmelmnts?.lbl?.selectContentType}}">
              <sui-select-option *ngFor="let contentType of allContentTypes" [value]="contentType">
              </sui-select-option>
            </sui-select>
          </div>
        </ng-container>
      </div>
      <div class="sb-prominent-filter-field">
        <button class="sb-btn sb-btn-normal sb-btn-outline-primary" appTelemetryInteract [telemetryInteractEdata]="resetFilterInteractEdata" (click)="resetFilters()">
          {{resourceService.frmelmnts?.btn?.reset}}
        </button>
        <button class="sb-btn sb-btn-normal sb-btn-primary ml-8" appTelemetryInteract [telemetryInteractEdata]="applyFilterInteractEdata" (click)="applyFilters()">
          {{resourceService.frmelmnts?.btn?.submit}}
        </button>
      </div>

    </div>
    <!--/Filter-->

  </div>
</div>